{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="shortcut icon" href={% static 'img/bitbug_favicon (1).ico' %}>
    <meta charset="UTF-8">
    <title>意甲</title>
</head>
<body style="background-color: #d5b8ec;">

<h3 align="center" style="color: aqua">
    意大利足球甲级联赛
</h3>
<img style="width: 70px"  src="{% static 'img/logo.jpeg' %}" >

<div align="right">
    <form method="post" action="../Serie/">
        {% csrf_token %}
        <input type="text" name = "time" placeholder="请输入赛季">
         <input type="submit">
    </form>
    
</div>
 <table border="1px" width="100%" style="border-collapse: collapse;">

        <tr>
            <th>俱乐部</th>
            <th>赛季</th>
            <th>联赛</th>
            <th>积分</th>


        </tr>
        {% for team in teams %}
            <tr>
                 <td align="center">
                  <a href="/League/Clubs/?Name={{ team.Name }}&Time={{ team.Time }}">
                         {{ team.Name }}
                     </a>

                </td>
                <td align="center">{{ team.Time}} </td>
                <td align="center">{{ team.Cup}} </td>
                <td align="center">{{ team.Score}} </td>
            </td>

            </tr>
        {% endfor %}
 </table>
<div align="right">
        <a href="../">
        <input style="color: aquamarine"   type="button" value="返回">
    </a>
    </div>
</body>
</html>