{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="shortcut icon" href={% static 'img/bitbug_favicon (1).ico' %}>
    <meta charset="UTF-8">
    <title>排名</title>
</head>
<body style="background-color: #d5b8ec;">
<img style="width: 70px"  src="{% static 'img/logo.jpeg' %}" >
<h3 align="center" style="color: aqua">
    {{ name }}历史总结
</h3>

    <table border="1px" width="100%" style="border-collapse: collapse;">

        <tr>
            <th>国家</th>
            <th>比赛名字</th>
            <th>教练</th>
            <th>参赛次数</th>

        </tr>
        {% for team in teams %}
            <tr>
              
                <td align="center"> 
                     <a href=“/Country/Players/?country={{ team.country }}">
                         {{ team.country }}
                     </a>
                    
                </td>
              
               
                <td align="center"> 
                     <a href=“../Ranking/?country={{ team.country }}">
                         {{ team.Cup }}
                     </a>
                    
                </td>
                <td align="center">{{ team.Coach}} </td>
            <td align="center">{{ team.Times}} </td>
            
            </tr>
        {% endfor %}
    </table>
<div align="right">
        <a href="../Information/">
        <input style="color: aquamarine"   type="button" value="返回">
    </a>
    </div>
</body>
</html>