{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="shortcut icon" href={% static 'img/bitbug_favicon (1).ico' %}>
    <meta charset="UTF-8">
    <title>2023卡塔尔世界杯</title>
</head>
<body style="background-color: #d5b8ec;">
<img align="right" style="width: 70px"  src="{% static 'img/logo.jpeg' %}" >
    <a href="https://baike.baidu.com/item/%E5%8D%A1%E5%A1%94%E5%B0%94/204275" target="_blank">
          <img  sytle="width : 5px; height:5px" src="{% static 'img/Qatar.jpg' %}"/>
        了解主办方
    </a>
    <hr  />
    <hr  />
    <hr  />
    
    <table border="1px" width="100%" style="border-collapse: collapse;">
     
            <tr>
                <td align="center">
                    <a href="../Qatar/Teams/">
                        参赛队伍汇总
                    </a>
                    
                    
                </td>
                <td align="center">
                    <a href="../Qatar/Groups/">
                        小组赛分组情况
                    </a>
                </td>
                 <td align="center">
                    <a href="../Qatar/Competitions/">
                        比赛日程
                    </a>
                </td>
            </tr>
            
      
    </table>
    <hr  />
    <hr  />
    <hr  />
     <img   src ="{% static 'img/Qatarbg.png' %}">
    
 <div align="right">
        <a href="/welcome/">
        <input style="color: aquamarine"   type="button" value="返回">
    </a>
    </div>

</body>
</html>