{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href={% static 'img/bitbug_favicon (1).ico' %}>

    <meta charset="UTF-8">
    <title>足球世界</title>
</head>
<body style="background-color: #d5b8ec;">
<img style="width: 70px"  src="{% static 'img/logo.jpeg' %}" >
   <div align ="center">
    <a href="https://blog.sunguoqi.com/">
      <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&pause=1000&width=435&lines=console.log(%22Hello%2C%20World%22);欢迎使用 !&center=true&size=27" />
    </a>
  </div>
    
    <h4>
       请选择您要查看的内容
    </h4>
    <div align="center">
        <h5 >
       世界杯
        </h5>
        
        <a href="../Qatar/">2023卡塔尔世界杯</a>
        <a href="../football/CupWorld/">往届世界杯</a>
    </div >
    
    <div align="center">
         <h5 >
       基本信息
        </h5>
        <a href="../Player/Information/">全球球员信息</a>
        <a href="../Country/Information/">国家队信息</a>
    </div>
    
    <div align="center">
         <h5 >
       联赛
        </h5>
        <a href="../Continent/Information/">锦标赛</a>
        <a href="../League/">超级联赛</a>
    </div>
        
   

    
  
       
    
   

</body>
</html>